@{
    Layout = null;
}

@model PWWServ_Client.ViewModels.TransferVM

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCopyTransfer</title>
</head>
<body>
    <div>
        <p>Under constaction...</p>
        <br />
        <a href="@Url.Action("Index")">Home.</a>
    </div>
</body>
</html>
