@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorLogin</title>
</head>
<body>
    <div>
        <h3>Customer with such e-mail and password not found!</h3>
        <br />
        <a href="@Url.Action("Login", "Customer")">Try agen...</a>
        <br />
        <a href="@Url.Action("Index")">...or go home.</a>
    </div>
</body>
</html>
